.igraphic-container{
    height: 89.2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}
  
.igraphic-maplegend{
    border: solid #003D4F 8px;
    border-radius: 1em;
    padding: 2em 3em;
}

.igraphic-maplegend>h2{
font-size: 3rem;
margin-bottom: 0.5rem;
}

.legend-block>p{
font-size: 2rem;
}
  
.spline{
    width: 50rem;
    height: 50rem;
}

.legend1{
    height: 1.8em;
    width: 1.8em;
    background-color: #003d4f;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.legend2{
    height: 1.8em;
    width: 1.8em;
    background-color: #f16079;
    border-radius: 50%;
    margin-right: 0.5rem;
}
  
.legend3{
    height: 1.8em;
    width: 1.8em;
    background-color: #ffba32;
    border-radius: 50%;
    margin-right: 0.5rem;
}
  
.legend4{
    height: 1.8em;
    width: 1.8em;
    background-color: #5ab8c5;
    border-radius: 50%;
    margin-right: 0.5rem;
}
  
.legend-block{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
  
.igraphic-maplegend-item{
    list-style: none;  
    padding: 0.5rem;
}