.minfo-container{
    height: 89.2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.minfo-spline{
    width: 100%;
    height: 30rem;
}

.minfo-urls{
    display: flex;
    gap: 2rem;
}

.minfo-urls>h2{
    margin: 1rem;
    font-size: 2rem;
}

.minfo-container>h1{
    font-size: 3rem;
    text-align: center;
}

h3{
    font-size: 3rem;
    margin: 1.5rem;
}

li{
    list-style-type: none;
}

a{
    color: black;
}

.minfo-doc{
    display: flex;
    flex-direction: column;
    justify-content: center;
border: 5px solid #003D4F;
width: 25rem;
height: 13rem;
margin-top: 2rem;
}

.minfo-doc>h2{
padding: 0.5rem;
}

.minfo{
    height: 89.2vh;
}

ul{
    line-height: 25px;
    margin-top: 1rem;
}

.minfo-general{
display: flex;
justify-content: space-between;
align-items: center;
}

.minfo-vd{
    color:aliceblue;
    padding: 1.5rem;
    width: 33rem;
    height: 15rem;
}

.minfo-container1{
    background-color: #003D4F;
    height: 92.7vh;
    width: 51vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.minfo-vd>h2{
    font-size: 4rem;
}